@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap'); 
.header{
    padding:15px;
    text-align:center;
    font-family: 'Bitter', serif;
    font-size:45px;
    background: rgb(147,255,221);
    background: linear-gradient(90deg, rgba(147,255,221,1) 15%, rgba(199,204,196,1) 50%, rgba(152,236,241,1) 85%);
    width:1200px;
    margin:auto;
    border-radius:20px;
}

canvas{
    margin-right:auto;
    margin-left:auto;
    margin-top:10px;
    margin-bottom:10px;
    display:block;
    top:50%;
    transform:translate(0.-50%);
}

.button1{
    width: 800px;
    height: 35px;
    background-color: pink;
    border-radius:20px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    margin-right:auto;
    margin-left:auto;
    display:block;
}

.button1:hover{
    background-color:aliceblue;
    border-radius:30px;
}

.button2{
    width:500px;
    height:25px;
    background-color: #a29bfe;
    margin-right:auto;
    margin-left:auto;
    margin-top:10px;
    display:none;
    font-family: 'PT Sans', sans-serif;
}

.button2:hover{
    background-color: #6c5ce7;
}
input{
    font-family:'PT Sans',sans-serif;
    text-align:center;
}

input[type=number]{
    font-family: 'PT Sans',sans-serif;
    background-color: #dfe4ea;
    font-size:15px;
}

#form{
    margin-left:800px;
}

#start{
    margin-left:45px;
    font-family: 'Krona One', sans-serif;
    font-size:25px;
}

#end{
    margin-right:45px;
    font-family: 'Krona One', sans-serif;
    font-size:25px;
    text-align:right;
}
